.map {
  width: 20.25rem;
  height: 16.56rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
top: 10.4375rem;
left: 0.9375rem;
margin-left: 1.875rem;
margin-right: 1.875rem;
border-width: 0.3125rem;
border-radius: 0.5rem;
border-style: solid;
border-color: rgba(13, 38, 57, 0.6);
}

.leaflet-container {
  width: 26.25rem;
  height: 20.625rem;
  border-radius: 0.5rem;
}

.map p {
  margin-left: 0.625rem;
  margin-top: 0.625rem;
  padding-left: 0.625rem;
  padding-bottom: 0.3125rem;
  font-size: 1.25rem;
  font-weight: bold;
}

.leaflet-popup-content {
  margin: 0.8125rem;
}

.leaflet-popup-content p {
  font-size: 0.5rem;
}

.linkmap {
  display: flex;
  flex-direction: row;
  gap: 3.125rem;
  margin-left: 0.625rem;
}

@media screen and (max-width: 768px) {
 .map {
  position: fixed;
 top: 15rem;
left: 0.1rem;
  width: 15rem;
  height: 12rem;
  }
}

@media screen and (max-width: 48rem) {
  .map {
    position: fixed;
    top: 21rem;       
   left: 0.5rem;
   margin-left:0;
   padding-left:0;
    width: 8.5rem;
    height: 15rem;
    size:80%
    }
  
    .grid-dashboard{
      margin-left:0;
      padding-left:0;

    }
}